<include file="LayOut/head" />
<include file="LayOut/menu"/>
<load href="/Public/css/list.css" />
    <!--start书详情容器-->
    <div class="book-detail-wrap center990">
        <div class="book-information cf">
            <!--start书封面-->
            <div class="book-img">
                <a class="J-getJumpUrl" id="bookImg" href="" disabled="true">
                    <img src="{$book.book_img}">
                </a>
            </div>
            <!--end书封面-->
            <!--start书信息-->
            <div class="book-info">
                <h1>
                    <em>{$book.book_name}</em>
                    <span>
                            <a class="writer" href="javascript:void(0);" target="_blank" data-eid="qd_G08">{$book.author}</a> 著
                        </span>
                </h1>
                <p class="tag">
                    <span class="blue">
                        <switch name="book.is_finished">
                            <case value="1">完结</case>
                            <default />连载
                        </switch>

                    </span>
                </p>
                <p class="intro">
                    {$book.description}
                </p>
                <p>
                    <!--<em>3.73</em>-->
                    <!--<cite>万字</cite>-->
                </p>
                <p>
                    <a href="{:U('Books/showarticle',array('taxis_id'=>1,'book_id'=>$book[id]))}" class="red-btn J-getJumpUrl ">开始阅读</a>
                </p>
            </div>
            <!--end书信息-->

        </div>

        <!--start区块导航-->
        <div class="content-nav-wrap cf">
            <div class="nav-wrap fl">
                <ul>
                    <li class="j_catalog_block act">
                        <a href="javascript:void(0);" class="lang">目录</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--end区块导航-->

        <!--start目录模块-->
        <div class="catalog-content-wrap">
            <!--start置顶按钮-->
            <div class="go-top">
                <div class="go-top-wrap">
                    <a href="javascript:void(0);" class="icon-go-top J-go-top">
                        <em class="iconfont" data-eid="qd_G72">TOP</em>
                    </a>
                </div>
            </div>
            <!--end置顶按钮-->

            <div class="volume-wrap">
                <div class="volume">
                    <h3>正文卷</h3>
                    <ul class="cf">
                        <volist name="sections" id="section">
                            <li><a href="{:U('Books/showarticle',array('section_id'=>$section[id],'book_id'=>$book[id]))}">{$section.name}</a></li>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>
        <!--end目录模块-->

    </div>
    <!--end书详情容器-->


<include file="LayOut/foot"/>