<include file="LayOut/head"/>
<include file="LayOut/menu"/>
<load href="/Public/css/vote_popup.css"/>


    <!--start阅读主体容器-->
    <div class="read-main-wrap font-family01" style="font-size: 18px; z-index: 101;" id="j_readMainWrap">
        <div id="j_chapterBox" data-l1="3">
            <div class="text-wrap" id="j_textWrap" data-cid="315522893">
                <!-- start 阅读区块容器 -->
                <div class="text-wrap" id="j_textWrap" data-cid="315522893">
                    <!-- start 阅读正文章节容器 -->
                    <div class="read-container">
                        <!-- start 封面版权信息 -->
                        <div class="book-cover-wrap">
                            <div class="book-photo">
                                <img src="{$article.book_img}">
                            </div>
                            <h1>{$article.book_name}</h1>
                            <h2>
                                <a href="JavaScript:void(0);" target="_blank">{$article.author}</a>著
                            </h2>
                            <div class="info-list cf">
                                <ul>
                                    <li><p>{$article.name}</p><span>类型</span></li>

                                    <li><em>{$create_time}</em><span>上架</span></li>
                                    <li><p><em>{$up_article.name}</em>章</p><span>连载（章节）</span></li>
                                </ul>
                            </div>
                            <h5>本书由C NOVEL中文网首发</h5>
                            <h6>©版权所有 侵权必究</h6>
                        </div>
                        <!-- end 封面版权信息 -->
                    </div>
                    <!-- end 阅读正文章节容器 -->
                </div>
                <!-- end 阅读区块容器 -->
                <!--start阅读快容器-->
                <div class="text-wrap" id="chapter-315522893">
                    <div class="main-text-wrap">
                        <div class="text-head">
                            <div class="guide-box" style="display: none;">
                                <cite></cite>
                                <p></p>
                            </div>
                            <a class="book-mark" href="javascript:" title="书签"></a>
                            <h3 class="j_chapterName">{$article.section_name}</h3>
                            <div class="text-info cf">
                                <!-- start 书信息 -->
                                <div class="info fl">
                                    <a href="" target="_blank"><em class="iconfont"></em>{$article.book_name}</a>
                                    <a href="" target="_blank"><em class="iconfont"></em>{$article.author}</a>
                                    <!--<i><em class="iconfont"></em><span class="j_chapterWordCut">2490</span>字</i>-->
                                    <i><em class="iconfont"></em><span class="j_updateTime">{$up_time}</span></i>
                                </div>
                                <!-- end 书信息 -->
                            </div>
                        </div>
                        <!--start正文内容-->
                        <div class="read-content j_readContent">
                            {$article['body']}
                        </div>
                        <!--end正文内容-->
                    </div>
                </div>
                <!--end阅读快容器-->
            </div>
            <!-- start 章节控制器 -->
            <div class="chapter-control dib-wrap" data-l1="3">
                {$prev = $article['section_id']-1}
                <if condition="$article.section_taxis neq 1">
                    <a id="j_chapterPrev"  href="{:U('Books/showarticle',array('section_id'=>$prev,'book_id'=>$article['book_id']))}">上一章</a><span>|</span>
                    <else/>
                    <a id="j_chapterPrev" class="disabled" href="javascript:;">上一章</a><span>|</span>
                </if>

                <a href="{:U('Books/showsections',array('book_id'=>$article['book_id']))}">目录</a><span>|</span>
                {$next = $article['section_id']+1}
                <a id="j_chapterNext" href="{:U('Books/showarticle',array('section_id'=>$next,'book_id'=>$article['book_id']))}">下一章</a>
            </div>
            <!-- end 章节控制器 -->
        </div>
    </div>
    <!--end阅读主体容器-->

    <include file="LayOut/foot"/>