<include file="LayOut/head" />
<load href="/Public/css/category.css"/>
<include file="LayOut/menu"/>
    <!--&lt;!&ndash;导航&ndash;&gt;-->
    <!--<div class="main-nav-wrap" data-l1="3">-->
        <!--<div class="main-nav box-center cf">-->
            <!--<ul>-->
                <!--<li class="nav-li"><a href="" data-eid="qd_A15">都市</a></li>-->
                <!--<li class="nav-li"><a href="" data-eid="qd_A16">灵异</a></li>-->
                <!--<li class="nav-li"><a href="" data-eid="qd_A17">武侠</a></li>-->
                <!--<li class="nav-li"><a href="" data-eid="qd_A18">仙侠</a></li>-->
                <!--<li class="nav-li"><a href="" target="_blank" data-eid="qd_A19">论坛</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;导航&ndash;&gt;-->

    <!--小说列表-->
    <div class="all-pro-wrap box-center cf mb40">
        <!--start推荐书籍-->
        <div class="focus-wrap mb40 cf">
            <div class="channel-focus small-mode fl">
                <div class="small-list cf">
                    <ul>
                        <volist name="recommends" id="recommend">
                            <li>
                                <div class="book-shadow"></div>
                                <div class="img-box">
                                    <a href="">
                                        <img src="{$recommend.book_img}" alt="">
                                    </a>
                                </div>
                                <h3>
                                    <a href="{:U('Books/showsections',array('book_id'=>$recommend[id]))}">{$recommend.book_name}</a>
                                </h3>
                                <p>@{$recommend.author}</p>
                            </li>
                        </volist>
                        <!--<li>-->
                            <!--<div class="book-shadow"></div>-->
                            <!--<div class="img-box">-->
                                <!--<a href="">-->
                                    <!--<img src="" alt="">-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--<h3>-->
                                <!--<a href="">雪鹰领主</a>-->
                            <!--</h3>-->
                            <!--<p>@小钢炮</p>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
            <div class="notice-wrap fr">
                <div class="notice-box">
                    <div class="edit-rec">
                        <h3>简介</h3>
                        <p>{$current_category.description}</p>
                        <!--<p>ksfjksdjfksdjfksdjfksdjfkjsfdkjdskdfjks ksfjksdjfksdjfksdjfksdjfkjsfdkjdskdfjks ksfjksdjfksdjfksdjfksdjfkjsfdkjdskdfjks</p>-->
                        <!--<p>ksfjksdjfksdjfksdjfksdjfkjsfdkjdskdfjks ksfjksdjfksdjfksdjfksdjfkjsfdkjdskdfjks ksfjksdjfksdjfksdjfksdjfkjsfdkjdskdfjks</p>-->
                    </div>
                </div>
            </div>
        </div>
        <!--end推荐书籍-->
        <div class="main-content-wrap fl" data-l1="5">
            <div class="all-book-list">
                <div class="book-img-text">
                    <ul class="all-img-list cf">
                        <volist name="all_book" id="book">
                            <li data-rid="1">
                                <div class="book-img-box">
                                    <a href="//book.qidian.com/info/3513193" data-bid="3513193" data-eid="qd_B57" target="_blank">
                                        <img src="{$book.book_img}" />
                                    </a>
                                </div>
                                <div class="book-mid-info">
                                    <h4><a href="{:U('Books/showsections',array('book_id'=>$book[id]))}" target="_blank" data-eid="qd_B58" data-bid="3513193">{$book.book_name}</a></h4>
                                    <p class="author">
                                        <img src="//qidian.gtimg.com/qd/images/ico/user.0.1.png">
                                        <a class="name" href="#" data-eid="qd_B59" target="_blank">{$book.author}</a>
                                        <em>|</em>
                                        <a href="" target="_blank" data-eid="qd_B60">玄幻</a>
                                        <i>·</i>
                                        <a class="go-sub-type" data-typeid="21" data-subtypeid="73" href="javascript:" data-eid="qd_B61">异世大陆</a>
                                        <em>|</em>
                                        <span>连载中</span>
                                    </p>
                                    <p class="intro">
                                        {$book.description}
                                    </p>
                                    <p class="update">
                                        <span>279.3万字</span>
                                    </p>
                                </div>
                            </li>
                        </volist>
                        <!--<li data-rid="1">-->
                            <!--<div class="book-img-box">-->
                                <!--<a href="//book.qidian.com/info/3513193" data-bid="3513193" data-eid="qd_B57" target="_blank">-->
                                    <!--<img src="" />-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--<div class="book-mid-info">-->
                                <!--<h4><a href="//book.qidian.com/info/3513193" target="_blank" data-eid="qd_B58" data-bid="3513193">雪鹰领主</a></h4>-->
                                <!--<p class="author">-->
                                    <!--<img src="//qidian.gtimg.com/qd/images/ico/user.0.1.png">-->
                                    <!--<a class="name" href="#" data-eid="qd_B59" target="_blank">我吃西红柿</a>-->
                                    <!--<em>|</em>-->
                                    <!--<a href="" target="_blank" data-eid="qd_B60">玄幻</a>-->
                                    <!--<i>·</i>-->
                                    <!--<a class="go-sub-type" data-typeid="21" data-subtypeid="73" href="javascript:" data-eid="qd_B61">异世大陆</a>-->
                                    <!--<em>|</em>-->
                                    <!--<span>连载中</span>-->
                                <!--</p>-->
                                <!--<p class="intro">-->
                                    <!--在夏族的安阳行省，有一个很小很不起眼的领地，叫——雪鹰领！故事，就从这里开始！**继《莽荒纪》《吞噬星空》《九鼎记》《盘龙》《星辰变》《寸芒》《星峰-->
                                <!--</p>-->
                                <!--<p class="update">-->
                                    <!--<span>279.3万字</span>-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li data-rid="1">-->
                            <!--<div class="book-img-box">-->
                                <!--<a href="//book.qidian.com/info/3513193" data-bid="3513193" data-eid="qd_B57" target="_blank"><img src="//qidian.qpic.cn/qdbimg/349573/3513193/150"></a>-->
                            <!--</div>-->
                            <!--<div class="book-mid-info">-->
                                <!--<h4><a href="//book.qidian.com/info/3513193" target="_blank" data-eid="qd_B58" data-bid="3513193">雪鹰领主</a></h4>-->
                                <!--<p class="author">-->
                                    <!--<img src="//qidian.gtimg.com/qd/images/ico/user.0.1.png">-->
                                    <!--<a class="name" href="#" data-eid="qd_B59" target="_blank">我吃西红柿</a>-->
                                    <!--<em>|</em>-->
                                    <!--<a href="" target="_blank" data-eid="qd_B60">玄幻</a>-->
                                    <!--<i>·</i>-->
                                    <!--<a class="go-sub-type" data-typeid="21" data-subtypeid="73" href="javascript:" data-eid="qd_B61">异世大陆</a>-->
                                    <!--<em>|</em>-->
                                    <!--<span>连载中</span>-->
                                <!--</p>-->
                                <!--<p class="intro">-->
                                    <!--在夏族的安阳行省，有一个很小很不起眼的领地，叫——雪鹰领！故事，就从这里开始！**继《莽荒纪》《吞噬星空》《九鼎记》《盘龙》《星辰变》《寸芒》《星峰-->
                                <!--</p>-->
                                <!--<p class="update">-->
                                    <!--<span>279.3万字</span>-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--小说列表-->


<!--主体-->
<include file="LayOut/foot"/>