<include file="LayOut/head" />

<include file="LayOut/menu"/>
<load href="/Public/css/personal.css"/>

    <div class="box-center mb40 cf forumboard">
        <div class="person_wrap">
            <div class="user clearfix">
                <div class="avatar">
                    <img src="http://s1.bbs.xiaomi.cn/statics/images/noavatar_middle.gif?&amp;_t=1487162105" onerror="javascript:this.src='http://s1.bbs.xiaomi.cn/statics/images/noavatar_small.gif';">
                </div>
                <div class="info">
                    <strong class="username J-username-text" u-id="49562247">{$user_name}</strong>
                    <input type="text" class="J-name-input name-input hidden">
                    <button class="J-name-input name-btn hidden">保存</button>
                </div>
                <div class="score">
                    <dl>
                        <dt>
                            <span class="txt">
                                <a href="javascript:void(0);" class="J-change-avatar">修改头像</a>
                            </span>
                        </dt>
                    </dl>
                    <dl>
                        <dt>
                            <span class="txt">
                                <a href="javascript:void(0);" class="J-change-name">修改昵称</a>
                            </span>
                        </dt>
                    </dl>
                </div>
            </div>
            <div class="contain_right">
                <div class="session">
                    <div class="theme">
                        <div class="theme_con">
                            <div class="theme_nav">
                                <a href="#" class="theme_nav_list current">主题<span class="num">{$forums_count}</span></a>
                                <a href="#" class="theme_nav_list">回复<span class="num">{$replays_count}</span></a>
                            </div>
                            <p style="height: 56px;">
                                <span class="th1">帖子</span>
                                <span class="th2">版块</span>
                                <span class="th3">回复时间</span>
                            </p>
                            <div class="theme_con_index current">
                                <ul>
                                    <volist name="forums" id="forum">
                                        <li>
                                            <div class="theme_list_con">
                                                <div class="title">
                                                    <a href="{:U('Forums/detailshow',array('forum_id'=>$forum['id']))}" class="title_name txtellipsis" target="_blank" rel="noopener noreferrer">
                                                        {$forum.name}</a>
                                                </div>
                                                <span class="plate">{$forum.category_name}</span>
                                                <span class="num">{$forum.updated_at}</span>
                                            </div>
                                        </li>
                                   </volist>
                                </ul>
                            </div>
                            <div class="theme_con_index">
                                <ul class="clearfix">
                                    <volist name="replays_data" id="replay">
                                    <li>
                                        <div class="theme_list_con">
                                            <div class="title">
                                                <a href="{:U('Forums/detailshow',array('forum_id'=>$replay['forum_id'],'read'=>1,'replay_id'=>$replay['id']))}" class="title_name txtellipsis" target="_blank" rel="noopener noreferrer">{$replay.name}</a>


                                            </div>
                                            <span class="plate">{$replay.c_name}</span>
                                            <span class="num">{$replay.created_at}</span>
                                        </div>
                                        <ul>
                                            <li><a href="http://bbs.xiaomi.cn/t-13356996-n2#2" target="_blank" rel="noopener noreferrer">{$replay.r_content}</a>
                                                <switch name="replay.is_read" >
                                                    <case value="0">&nbsp;<span style="color: red">*</span></case>
                                                </switch>
                                            </li>
                                        </ul>
                                    </li>
                                    </volist>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--照片墙-->

    <!--修改头像block-->
    <div class="portrai-shade hidden">
        <div class="container-outer">
            <div class="container">
                <div class="imageBox">
                    <div class="thumbBox"></div>
                    <div class="spinner" style="display: none">Loading...</div>
                </div>
                <div class="action">
                    <div class="new-contentarea tc"> <a href="javascript:void(0)" class="upload-img">
                        <label for="upload-file">上传图像</label>
                    </a>
                        <input type="file" class="" name="upload-file" id="upload-file" />
                    </div>
                    <input type="button" id="J-save-head-img"  class="Btnsty_peyton" value="确定">
                    <input type="button" id="btnCrop"  class="Btnsty_peyton" value="裁切">
                    <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+"  >
                    <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-" >
                </div>
                <div class="cropped"></div>
            </div>
        </div>
    </div>
    <!--修改头像block-->
<include file="Layout/foot"/>