<include file="Layout/head"/>


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">小说管理</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                章节列表
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form action="{:U('Novel/articleList')}" name="select_book" method="post">
                    <div class="form-group">
                        <label>Selects</label>
                        <select class="form-control" name="book">

                            <volist name="books" id="book">

                                <if condition="$book.id eq  $c_book['id']">
                                    <option value="{$book.id}" selected>{$book.book_name}</option>
                                <else />
                                    <option value="{$book.id}">{$book.book_name}</option>
                                </if>

                            </volist>
                        </select>
                    </div>
                </form>

                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <div id="dataTables-example_filter" class="dataTables_filter"><label></label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            <table width="100%"
                                   class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
                                   id="dataTables-example" role="grid" aria-describedby="dataTables-example_info"
                                   style="width: 100%;">
                                <thead>
                                <tr role="row">
                                    <th class="sorting_desc" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                        colspan="1" aria-label="Rendering engine: activate to sort column ascending"
                                        style="width: 154px;" aria-sort="descending">章节名
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                        colspan="1" aria-label="Browser: activate to sort column ascending"
                                        style="width: 190px;">创建时间
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                        colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                        style="width: 101px;">操作
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="sections" id="section">
                                    <tr class="gradeA odd" role="row">
                                        <td class="sorting_1">{$section.name}</td>

                                        <td class="center">{$section.created_at}</td>
                                        <td class="center">
                                            <a href="{:U('Novel/articleDel',array('id'=>$section['id']))}">删除</a>
                                            <a href="{:U('Novel/articleUpdate',array('id' => $section['id']))}">修改</a>
                                        </td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                {$page}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<include file="Layout/foot"/>
<script type="text/javascript">
    $(function () {
        $('[name="book"]').change(function(){
            $('[name="select_book"]').submit()
        })
    });
</script>

