<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>小说</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <load href="/Public/css/Autocomplete.css" />
    <load href="/Public/css/Button.css" />
    <load href="/Public/css/pact.css" />
</head>

<body>
<!--主体-->
<div class="wrap">

    <!--头部-->
    <div class="top-nav" data-l1="1">
        <div class="box-center cf">
            <!--start登录注册框-->
            <div class="login-box fr">
                <if condition="($user_name neq '')">
                    <div class="sign-in">
                        <span>你好，{$user_name}</span>
                        <a class="black" id="user-name" href="//me.qidian.com" target="_blank" data-eid="qd_A08"></a>
                        <em>|</em>
                        <a class="black" id="msg-btn" href="{:U('HomePage/personalshow')}" target="" data-eid="qd_A09">
                            消息<cite id="msg-box">(<i>0</i>)</cite></a><em>|</em>
                        <a id="exit-btn" href="{:U('Login/logout')}" data-eid="qd_A10">退出</a>
                    </div>
                    <else />
                    <div class="sign-out">
                        <a id="login-btn" class="black" href="javascript:" data-eid="qd_A06">登录</a>
                        <em>|</em>
                        <a id="reg-btn" href="{:U('Register/register')}" target="_blank" data-eid="qd_A07">注册</a>
                    </div>
                </if>
            </div>
            <!--end登录注册框-->
            <!--start公告滚动-->
            <div class="anno-box fl J-anno-box">
                <ul>
                    <li>公告：[体验交流] 御魂回收比例在这儿！体验服更新速报</li>
                    <li>公告：[体验交流] 御魂回收比例在这儿！体验服更新速报</li>
                    <li>公告：[体验交流] 御魂回收比例在这儿！体验服更新速报</li>
                </ul>
            </div>
            <!--end公告滚动-->
        </div>
    </div>
    <!--头部-->