<html>

<head>
    <meta charset="UTF-8">
    <title>C NOVEL</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="Public/css/Autocomplete.css">
    <link rel="stylesheet" href="Public/css/Button.css">
    <link rel="stylesheet" href="Public/css/pact.css">
    <link rel="icon" sizes="any" mask href="/Public/img/icon.jpeg">
</head>
<!--主体-->
<div class="wrap bgfff">

    <!--start头部-->
    <div class="header reg-header ">
        <div class="box-center">
            <div class="logo cf">
                <a href="{:U('HomePage/homeshow')}">C NOVEL</a>
                <span class="lang">User Register</span>
            </div>
        </div>
    </div>
    <!--end头部-->

    <!--start注册模块-->
    <div class="reg-wrap">
        <div class="reg-step">
            <span class="lang act">Affiliate Signup</span>
        </div>
        <div class="reg-form-wrap">
            <form action="" method="post" id="re_from">
                <div class="reg-form-list form-list">
                    <dl>
                        <dd id="email_dd">
                            <em>Email</em>
                            <input type="text" placeholder="Enter a common e-mail address" name="email" id="txtemail">
                            <input type="button" id="sendCodeBtn" value="Send code" class="send-qr-code">
                            <span class="J-code-check-text hidden">Verifcation code may be in the junk mail</span>
                        </dd>
                        <dd id="imgphonernd_code">
                            <em>Code</em>
                            <input type="text" placeholder="Please enter the verification code" name="code" id="txtphoneimgcode">
                        </dd>
                        <dd id="phonepwd">
                            <em>Password</em>
                            <input type="password" name="password" id="txtphonepwd" placeholder="6-18 bit size letters, symbols, or numbers">
                            <div class="password-tip" style="display:none">
                                <span><cite></cite></span>
                                <p id="pwdrule1">6-18 characters</p>
                                <p id="pwdrule2">Cannot be a pure number below 9</p>
                                <p id="pwdrule3">Cannot contain spaces</p>
                            </div>
                            <div class="password-strong" style="display:none">
                                <!-- 以下3个 不会重复出现，目前3个一起出现造成的换行问题请无视 -->
                                <p style="display:none"><span class="level-1"><b></b></span>weak</p>
                                <p style="display:none"><span class="level-2"><b></b></span>middle</p>
                                <p style="display:none"><span class="level-3"><b></b></span>strong</p>
                            </div>
                        </dd>
                        <dd id="password2">
                            <em>Confirm</em>
                            <input id="txtphonepwd2" name="password2" type="password" placeholder="Enter password again">
                        </dd>
                    </dl>
                    <div class="deal">
                        <input type="checkbox" id="deal" name="checkbox" checked>
                        <label for="deal" class="ui-checkbox"></label>
                        <label for="deal">
                            I have read and agree
                        </label>
                        <a href="javascript:void(0)" target="_blank">《User service agreement》</a>
                    </div>
                    <a class="red-btn go-reg" href="javascript:"  id="btnMailRegister">Register</a>

                </div>
            </form>
        </div>
    </div>
    <!--end注册模块-->

    <!--页脚-->
    <div class="footer">
        <!--start 友情链接-->
        <div class="box-center cf">
            <!--start 版权-->
            <div class="copy-right">
                <p>Copyright 2017 C Novel</p>
                <p>All Right Reserved</p>
                <p>If You Have Any Questions, Please Contact The Webmaster.</p>
            </div>
            <!--end 版权-->
        </div>
    </div>
    <!--页脚-->
</div>
<!--主体-->
<load href="/Public/js/jquery-1.12.4.min.js"/>
<load href="/Public/js/common.js"/>
<load href="/Public/js/register.js"/>
<!--<script src="./js/jquery-1.12.4.min.js"></script>-->
<!--<script src="./js/common.js"></script>-->
<!--&lt;!&ndash;注册页面js&ndash;&gt;-->
<!--<script src="./js/register.js"></script>-->
</body>

</html>